include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/automatic_aliases *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/automatic_aliases/migration *.ini *.py *.mako
